.example-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 10%;
  margin-top: 5%;
}
.mat-mdc-raised-button {
  margin-left: 10%;
}
.input-style {
  margin-top: 5%;
  margin-left: 5%;
}
