.login-page{
    margin-top:15%;
    margin-left: 40%;
    margin-right: 40%;
}
.flex-form{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 20%;
    button{
        margin-top: 5%;
    }
}
.table{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}